.AboutUs {
  padding: 15px;

  .floating-box {
    margin-top: -115px;
  }

  .content {
    margin: 55px auto 35px;
    padding: 0;
  }
}

.Services {
  $size: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(min-width 460px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    width: $size;
    text-align: center;
    margin: 15px;
  }

  .picture-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border-radius: 5px;
    background: $white;

    &.hightlight {
      background: $blue;
      color: $white;
    }
  }

  .text {
    padding: 10px 0;
    font-size: 1.1em;

    @include breakpoint($bp-medium) {
      padding-top: 30px;
    }
  }

  // Animation

  .item {
    * {
      transition: all 700ms ease;
    }
  }

  .item:hover {
    * {
      transition: all 300ms ease;
    }

    .picture-wrapper {
      transform: scale(1.05);
    }
    .picture {
      transform: scale(1.4);
    }
  }
}
