.BoxWithShadow {
  background: $white;
  box-shadow: 0 0 20px transparentize($black, 0.8);
  border-radius: 10px;
  padding: 50px 40px;
  text-align: center;

  .title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
  }

  .line {
    border: 0;
    border-top: solid 1px $gray-dark;
    width: 80%;
    max-width: 380px;
    opacity: 0.2;
    margin: 20px auto;
  }
}
