.Company {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint($bp-medium) {
      flex-direction: row;
    }
  }

  .content {
    padding: 25px 0 10px;
  }

  .nurse-picture {
    display: block;
    width: 100%;

    @include breakpoint($bp-medium) {
      min-width: 380px;
    }
  }

  .social-media-wrapper {
    margin: 30px 0 10px;
  }

  @include breakpoint($bp-medium) {
    .nurse {
      margin-left: 140px;
    }
  }
}

.SocialMedia {
  display: flex;

  > li {
    $size: 38px;
    $radius: 5px;
    display: block;
    width: $size;
    height: $size;
    border: solid 1px $gray-dark;
    border-right: 0;
    overflow: hidden;

    &:last-child {
      border-right: solid 1px $gray-dark;
      border-radius: 0 $radius $radius 0;
    }

    &:first-child {
      border-radius: $radius 0 0 $radius;
    }

    > a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      &,
      &:hover {
        img {
          transition: transform 300ms ease;
        }
      }

      &:hover {
        background: $white;

        img {
          transform: scale(1.2);
        }
      }
    }
  }
}
