.Footer {
  background: $blue;

  font-size: 0.9em;

  &,
  a {
    color: $white;
  }

  a {
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 17px;
  }
}
