.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding: 40px 0;

  &,
  &.active {
    transition: all 300ms ease;
  }

  &.active {
    background: transparentize($white, 0.1);
    padding: 20px 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.Menu {
  $size: 41px;
  $borderSize: 2px;
  width: $size;
  height: $size;
  background: transparent;
  border: solid $borderSize $gray-dark;
  border-radius: $size;
  cursor: pointer;

  .lines {
    $distance: 7px;
    text-indent: -9999em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    &,
    &:before,
    &:after {
      display: block;
      width: 20px;
      height: $borderSize;
      background: $gray-dark;
    }

    &:before,
    &:after {
      position: absolute;
      content: "";
    }

    &:before {
      top: -$distance;
    }

    &:after {
      top: $distance;
    }
  }
}

.OverlayMenu {
  position: fixed;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: transparentize($black, 0.05);
  z-index: 99;
  overflow: hidden;

  .close {
    $size: 50px;
    $distance: 30px;
    position: absolute;
    width: $size;
    height: $size;
    top: $distance;
    right: $distance;
    background: transparent;
    border: 0;
    cursor: pointer;

    &,
    &:hover {
      transition: transform 500ms ease;
    }

    &:hover {
      transform: rotate(90deg);
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 2px;
      top: 24px;
      left: 5px;
      background: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .menu {
    a {
      display: block;
      padding: 15px;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5em;

      &.highlight {
        color: $green;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
