@import "./_reset.scss";
@import "./_colors.scss";

* {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans";
  font-size: 16px;
  color: $black;
  background: $gray-light;
  font-weight: 400;
}

p {
  line-height: 1.8em;
  padding: 10px 0;
}

.container,
.container-small,
.container-large {
  margin: auto;
}

.container {
  max-width: 850px;
}

.container-small {
  max-width: 670px;
}

.container-large {
  max-width: 1000px;
}

@import "./Hello.scss";
@import "./Header.scss";
@import "./AboutUs.scss";
@import "./BoxWithShadow.scss";
@import "./Slider.scss";
@import "./Footer.scss";
@import "./Logo.scss";
@import "./Company.scss";
